@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>.NET Core MVC Exemplo</h1>
        <p>
            API de Funcionarios com conexão com MongoDB
        </p>
    </div>
</div>
